<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17G14042</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>FFACMMFeatures</string>
	<key>CFBundleGetInfoString</key>
	<string>1.00 Build 001, (C) FUJIFILM Business Innovation Corp. 2023</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Help</string>
	<key>CFBundleHelpBookName</key>
	<string>Features</string>
	<key>CFBundleIdentifier</key>
	<string>com.fujifilm.fb.pdf15.pde.Features</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Features PDE</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.00.001</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.00</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9F1027a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17E189</string>
	<key>DTSDKName</key>
	<string>macosx10.13</string>
	<key>DTXcode</key>
	<string>0940</string>
	<key>DTXcodeBuild</key>
	<string>9F1027a</string>
	<key>Default00</key>
	<array>
		<array>
			<string>FFOutputMode</string>
			<string>FFColorBalanceAdjustment</string>
			<string>FFColorDensityBlackLow</string>
			<string>FFColorDensityBlackMid</string>
			<string>FFColorDensityBlackHigh</string>
			<string>FFBrightness</string>
			<string>FFTabMarginShiftEx</string>
			<string>FFIntSheet</string>
			<string>FFIntSheetMediaType</string>
			<string>FFJog</string>
			<string>FFTabNumberInSequence</string>
			<string>FFTrimming</string>
		</array>
	</array>
	<key>Default01</key>
	<array>
		<array>
			<string>FFIntSheetMediaType</string>
			<string>FFIntSheet</string>
			<string>FFTabMarginShiftEx</string>
			<string>FFJog</string>
			<string>FFTabNumberInSequence</string>
			<string>FFTrimming</string>
		</array>
	</array>
	<key>Default02</key>
	<array>
		<array>
			<string>FFSignature</string>
			<string>FFSigDrawOutline</string>
			<string>FFSigSize</string>
			<string>FFSigVol</string>
			<string>FFOutputMode</string>
			<string>FFColorBalanceAdjustment</string>
			<string>FFColorDensityBlackLow</string>
			<string>FFColorDensityBlackMid</string>
			<string>FFColorDensityBlackHigh</string>
			<string>FFTabMarginShiftEx</string>
			<string>FFIntSheet</string>
			<string>FFIntSheetMediaType</string>
			<string>FFTrimming</string>
		</array>
	</array>
	<key>Default03</key>
	<array>
		<array>
			<string>FFSignature</string>
			<string>FFSigDrawOutline</string>
			<string>FFSigSize</string>
			<string>FFSigVol</string>
			<string>FFTabMarginShiftEx</string>
			<string>FFIntSheet</string>
			<string>FFIntSheetMediaType</string>
			<string>FFTrimming</string>
		</array>
	</array>
	<key>NSPrincipalClass</key>
	<string>PrintFeaturesPDEPluginFFpdf15</string>
	<key>PMPPDKeysSupported</key>
	<array>
		<string>FFInputSlot</string>
		<string>FFTurnPage</string>
		<string>FFOutputMode</string>
		<string>FFSignature</string>
		<string>FFSigDrawOutline</string>
		<string>FFSigSize</string>
		<string>FFSigVol</string>
		<string>MediaType</string>
		<string>OutputBin</string>
		<string>FFGrayBalance</string>
		<string>FFHalftone</string>
		<string>Smoothing</string>
		<string>FFTonerSaver</string>
		<string>FFSaveBlankSheet</string>
		<string>FFSlipSheet</string>
		<string>FFSlipSheetMediaType</string>
		<string>FFSlipSheetPrint</string>
		<string>FFStaple</string>
		<string>FFPunch</string>
		<string>FFNumPunchHoles</string>
		<string>FFIntSheet</string>
		<string>FFIntCoverSheet</string>
		<string>FFIntCoverSheetPrint</string>
		<string>FFIntBackCoverSheet</string>
		<string>FFIntSheetMediaType</string>
		<string>FFFold</string>
		<string>FFIntTabbedPaper</string>
		<string>Jog</string>
		<string>FFCustomPageSizeCorrection</string>
		<string>FFMSILeadingEdge</string>
		<string>FFSubPaperSelection</string>
		<string>FFTwoRepeatPrint</string>
		<string>FFMixSizePrint</string>
		<string>FFTabMarginShift</string>
		<string>FFTabMarginShiftEx</string>
		<string>FFMTF</string>
		<string>FFFType</string>
		<string>FFMediaColor</string>
		<string>FFInvalidateColorProfile</string>
		<string>FFUncollateSeparator</string>
		<string>FFForcedMediaType</string>
		<string>FFTabNumberInSequence</string>
		<string>FFJog</string>
		<string>FFTrimming</string>
		<string>FFSquareFold</string>
		<string>FFPDFRasterizedMode</string>
		<string>FFColorMode</string>
		<string>FFIgnoreTimeout</string>
		<string>FFFrameMode</string>
		<string>FFEjectOptions</string>
		<string>FFColorBalanceAdjustment</string>
		<string>FFColorDensityBlackLow</string>
		<string>FFColorDensityBlackMid</string>
		<string>FFColorDensityBlackHigh</string>
		<string>FFTrapping</string>
		<string>FFSharpnessAdjustment</string>
		<string>FFPBindPosition</string>
		<string>FFPBindTrimming</string>
		<string>FFPBindCutPageSize</string>
		<string>FFPBindImagePosition</string>
		<string>FFPBindCutPositionTop</string>
		<string>FFPBindCutPositionFore</string>
		<string>FFPBindPageSize</string>
		<string>FFPBindCoverPageSize</string>
		<string>FFPBindCoverMediaType</string>
		<string>FFPBindCoverMediaColor</string>
		<string>FFPBindCoverPaperTray</string>
		<string>FFPBindRotationAdjustTop</string>
		<string>FFPBindRotationAdjustBot</string>
		<string>FFPBindRotationAdjustFore</string>
		<string>FFPBindCutPageAdjustmentTB</string>
		<string>FFPBindCutPageAdjustmentFore</string>
		<string>FFPBindCutPositionAdjustmentTB</string>
		<string>FFPBindCoverAdjustX</string>
		<string>FFPBindCoverAdjustY</string>
	</array>
	<key>PMSandboxCompatiblePDEs</key>
	<string>true</string>
</dict>
</plist>
